@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

.attribution {
    font-size: 11px;
    text-align: center;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 15px;
    position: relative;
    font-family: 'Spartan', sans-serif;
    overflow: hidden;
    
}



img {
    position: absolute;
}

.bottom-image {
    top:  45%;
}

.grid {
    display: grid;
    grid-template-columns: 35% 65%;
}

.container {
    padding-top: 100px;

}

.text-container {
    margin: auto;
    color: hsl(300, 43%, 22%);
    
}

.text-container h1 {
    padding-right: 200px;
    padding-left: 100px;
}

.text-container p {
    margin-top: 20px;
    padding-left: 100px;
    margin-right: 25px;

}


.review-container {
    margin-left: 100px;
    color: hsl(300, 43%, 22%);
    font-weight: 700;
}



.review {
    background-color: hsl(300, 24%, 96%);
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    max-width: 400px;
    text-align: start;

}

.review-container > :nth-child(2) {
    margin-left: 55px;
}

.review-container > :nth-child(3) {
    margin-left: 100px;
}

.testemonial-container {
    grid-column: 1 / span 3;
    font-weight: 400;
    margin-top: 85px;
    margin: 50px;
    margin-left: 100px;
}

.grid .testemonial-container {
    grid-template-columns: repeat(3, 1fr);
    color: hsl(0, 0%, 100%);
}

.testemonial-container * {
    background-color: hsl(300, 43%, 22%);
    padding: 10px;
    border-radius: 10px;

}

.testemonial-container > :nth-child(2) {
    margin-top: 10px;
}

.testemonial-container > :last-child {
    margin-top: 25px;

}

.testemonial-container img {
    border-radius: 50%;
    position: unset;
}

.testemonial-container .test > :nth-child(3){
    grid-column: 1 / span 3;
}

.test div :nth-child(1) {
    font-weight: 700;
}

.test {
    padding-left: 25px;
    margin-right: 40px;
}

.test div :nth-child(2){
    color: hsl(333, 80%, 67%);
}

.review .images, .review p{
    display: inline-block;
    padding-right: 15px;
}

.review .images * {
    position: unset;

   
}


@media only screen and (max-width: 600px) {


    .grid {
        display: flex;

        flex-direction: column;
    }

    .bottom-image {
        top: 55%;
    }


    body {
        overflow-y: visible;
    }
    

    .container * {
        margin: auto;
        
    }

    .review-container {
        margin: unset;
        margin-left: 15px;
    }


    .text-container h1 {
        padding-right: 20px;
        padding-left: 20px;
        text-align: center;
    }

   .review {
       display: flex;
       flex-direction: column;
       align-items: center;
   }

   .review {
       margin: 15px;
   }
   

    .review-container > :first-child {
        margin-left: unset;
    }

    .review-container > :last-child {
        margin-left: unset;
    }

    .review-container > :nth-child(2) {
        margin-left: unset;
    }

    .testemonial-container {
        min-width: 276px;
    }

   .test {
       margin: 0px 15px;
   }
   
   .testemonial-container .grid {
       display: grid;
   }

   .testemonial-container img {
       z-index: 100;
   }

   .testemonial-container :last-child {
       margin-top: 10px;
   }


   .text-container p {
       padding: 20px;
       text-align: center;
       margin-right: unset;
   }
   
}




